

NET "Ram1Addr[0]" LOC = C17;
NET "Ram1Addr[1]" LOC = C18;
NET "Ram1Addr[2]" LOC = D16;
NET "Ram1Addr[3]" LOC = D17;
NET "Ram1Addr[4]" LOC = E15;
NET "Ram1Addr[5]" LOC = E16;
NET "Ram1Addr[6]" LOC = F14;
NET "Ram1Addr[7]" LOC = F15;
NET "Ram1Addr[8]" LOC = F17;
NET "Ram1Addr[9]" LOC = F18;
NET "Ram1Addr[10]" LOC = G13;
NET "Ram1Addr[11]" LOC = G14;
NET "Ram1Addr[12]" LOC = G15;
NET "Ram1Addr[13]" LOC = G16;
NET "Ram1Addr[14]" LOC = H14;
NET "Ram1Addr[15]" LOC = H15;
NET "Ram1Addr[16]" LOC = H16;
NET "Ram1Addr[17]" LOC = H17;
NET "Ram1Data[0]" LOC = J12;
NET "Ram1Data[2]" LOC = J14;
NET "Ram1Data[1]" LOC = J13;
NET "Ram1Data[3]" LOC = J15;
NET "Ram1Data[4]" LOC = J16;
NET "Ram1Data[5]" LOC = J17;
NET "Ram1Data[6]" LOC = K12;
NET "Ram1Data[7]" LOC = K13;
NET "Ram1Data[8]" LOC = K14;
NET "Ram1Data[9]" LOC = K15;
NET "Ram1Data[10]" LOC = L15;
NET "Ram1Data[11]" LOC = L16;
NET "Ram1Data[12]" LOC = L17;
NET "Ram1Data[13]" LOC = L18;
NET "Ram1Data[14]" LOC = M13;
NET "Ram1Data[15]" LOC = M14;
NET "Ram2Addr[0]" LOC = N14;
NET "Ram2Addr[1]" LOC = N15;
NET "Ram2Addr[2]" LOC = N18;
NET "Ram2Addr[3]" LOC = P16;
NET "Ram2Addr[4]" LOC = P17;
NET "Ram2Addr[5]" LOC = P18;
NET "Ram2Addr[6]" LOC = R15;
NET "Ram2Addr[7]" LOC = R16;
NET "Ram2Addr[8]" LOC = R18;
NET "Ram2Addr[9]" LOC = T17;
NET "Ram2Addr[10]" LOC = T18;
NET "Ram2Addr[11]" LOC = U18;
NET "Ram2Addr[12]" LOC = V15;
NET "Ram2Addr[13]" LOC = V13;
NET "Ram2Addr[14]" LOC = V12;
NET "Ram2Addr[15]" LOC = V9;
NET "Ram2Addr[16]" LOC = U16;
NET "Ram2Addr[17]" LOC = U15;
NET "Ram2Data[0]" LOC = U13;
NET "Ram2Data[1]" LOC = T16;
NET "Ram2Data[2]" LOC = T15;
NET "Ram2Data[3]" LOC = T14;
NET "Ram2Data[4]" LOC = T12;
NET "Ram2Data[5]" LOC = R13;
NET "Ram2Data[6]" LOC = R14;
NET "Ram2Data[7]" LOC = R12;
NET "Ram2Data[8]" LOC = R11;
NET "Ram2Data[9]" LOC = R10;
NET "Ram2Data[11]" LOC = P12;
NET "Ram2Data[10]" LOC = P13;
NET "Ram2Data[12]" LOC = P11;
NET "Ram2Data[13]" LOC = P10;
NET "Ram2Data[14]" LOC = N12;
NET "Ram2Data[15]" LOC = N11;
NET "clk_in" LOC = B9;
NET "data_ready" LOC = A16;
NET "Ram1EN" LOC = M15;
NET "Ram1OE" LOC = M16;
NET "Ram1WE" LOC = M18;
NET "Ram2EN" LOC = N10;
NET "Ram2OE" LOC = R9;
NET "Ram2WE" LOC = M9;
NET "rdn" LOC = C14;
NET "rst_in" LOC = U10;
NET "tbre" LOC = D14;
NET "tsre" LOC = N9;
NET "wrn" LOC = U5;


NET "LED[0]" LOC = D10;
NET "LED[1]" LOC = E10;
NET "LED[2]" LOC = A11;
NET "LED[3]" LOC = B11;
NET "LED[4]" LOC = C11;
NET "LED[5]" LOC = D11;
NET "LED[6]" LOC = E11;
NET "LED[7]" LOC = F11;
NET "LED[10]" LOC = F12;
NET "LED[11]" LOC = A13;
NET "LED[12]" LOC = B13;
NET "LED[13]" LOC = D13;
NET "LED[8]" LOC = A12;
NET "LED[9]" LOC = E12;
NET "LED[14]" LOC = E13;
NET "LED[15]" LOC = A14;

# PlanAhead Generated physical constraints 

NET "FlashAddr[1]" LOC = T1;
NET "FlashAddr[2]" LOC = R3;
NET "FlashAddr[3]" LOC = R2;
NET "FlashAddr[4]" LOC = P4;
NET "FlashAddr[5]" LOC = P3;
NET "FlashAddr[6]" LOC = P2;
NET "FlashAddr[7]" LOC = P1;
NET "FlashAddr[8]" LOC = N5;
NET "FlashAddr[9]" LOC = N4;
NET "FlashAddr[10]" LOC = M6;
NET "FlashAddr[11]" LOC = M5;
NET "FlashAddr[12]" LOC = M4;
NET "FlashAddr[13]" LOC = M3;
NET "FlashAddr[14]" LOC = L6;
NET "FlashAddr[15]" LOC = L5;
NET "FlashAddr[16]" LOC = L4;
NET "FlashAddr[17]" LOC = L3;
NET "FlashAddr[18]" LOC = L2;
NET "FlashAddr[19]" LOC = L1;
NET "FlashAddr[20]" LOC = K6;
NET "FlashAddr[21]" LOC = K5;
NET "FlashAddr[22]" LOC = K4;
NET "FlashData[0]" LOC = J5;
NET "FlashData[1]" LOC = J4;
NET "FlashData[2]" LOC = J2;
NET "FlashData[3]" LOC = J1;
NET "FlashData[4]" LOC = H6;
NET "FlashData[5]" LOC = H5;
NET "FlashData[6]" LOC = H4;
NET "FlashData[7]" LOC = H3;
NET "FlashData[8]" LOC = H2;
NET "FlashData[9]" LOC = H1;
NET "FlashData[10]" LOC = G6;
NET "FlashData[11]" LOC = G5;
NET "FlashData[12]" LOC = G4;
NET "FlashData[13]" LOC = G3;
NET "FlashData[14]" LOC = F2;
NET "FlashData[15]" LOC = F1;
NET "FlashByte" LOC = C1;
NET "FlashCE" LOC = E4;
NET "FlashOE" LOC = E1;
NET "FlashRP" LOC = D1;
NET "FlashVpen" LOC = C2;
NET "FlashWE" LOC = D4;
